body {
	background-image: url("bg.gif");
}

#main {
	width: 50%;
	margin: auto;
	padding: 10px;
	border: 10px ridge;
	background-color: #BAAAEF;
}

table {
	border: solid 1px;
}

th {
	border: solid 1px;
}

td {
	padding: 15px;
	border: solid 1px;
}