body {
	background-image: url("bg.gif");
}

#main {
	width: 50%;
	margin: auto;
	padding: 0;
	border: 10px ridge;
	background-color: #BAAAEF;
}

table {
	border: solid 1px;
	background-color: #877CAD;
}

th {
	border: solid 1px;
	background-color: #BAAAEF;
}

td {
	padding: 15px;
	border: solid 1px;
	background-color: #BAAAEF;
}

h1 {
	color: #47425B;
	background-color: #877CAD;
	padding: 5px;
	margin: 0;
	border-bottom: solid; 
}

p, table, h3 a, h3 {
	margin: 20px;
}

p, h1, h3, th, td {
	font-family: sans-serif;
}

#back-arrow {
	text-decoration: none;
	font-size: 42px;
	margin: 0px;
}