table, #top {
	background-color: grey;
}

td, tr, body {
	background-color: #BFBFBF;
}

table, td, tr {
	padding: 10px;
}

p, td, tr, h1, h3 {
	font-family: sans-serif;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

#container {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
}

h1 {
	color: white;
	margin: 5px;
}

body {
	padding-top: 50px;
}